<h1>Listing tenant_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tenant_users.each do |tenant_user| %>
  <tr>
    <td><%= link_to 'Show', tenant_user %></td>
    <td><%= link_to 'Edit', edit_tenant_user_path(tenant_user) %></td>
    <td><%= link_to 'Destroy', tenant_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenant user', new_tenant_user_path %>
